DavLockDB "/var/run/DavLock/DavLock"

WSGIScriptAliasMatch ^/bzr/.*/\.bzr/smart$ /var/cgi/bzr.wsgi

#The three next lines allow regular GETs to work too
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/bzr/.*/\.bzr/smart$
RewriteRule ^/bzr/(.*/\.bzr/.*)$ /var/www/bzr/$1 [L]

{% if shares %}
{% for share in shares %}
<Location /{{ share.typ }}/{{ share.name }}>
    DAV on
    ForceType text/plain
    Options indexes
    Order Allow,Deny
    Allow from all
    AuthType Digest
    AuthName Login
    AuthDigestDomain /{{ share.typ }}/ https://rfhete470.hs-regensburg.de/{{ share.typ }}/{{ share.name }}/
    AuthDigestProvider file
    AuthUserFile /etc/apache2/passwd.dav
    AuthUserGroupFile /etc/apache2/groups.dav
    <LimitExcept Options>
        {% for p in projects %}
        require group {{ share.typ }}_{{ p.name }}
        {% endfor %}
    </LimitExcept>
    DirectorySlash Off
    DavDepthInfinity on
</Location>
{% endfor %}
{% endif %}

