* {
    font-family: sans-serif, Verdana, Arial, Helvetica;
}
.las3-breadcrums {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
}
.las3-breadcrums a {
    margin: 5px;
    white-space: nowrap;
    background-color: #B6D1EE;
    border-radius:5px;
    padding:5px;
}
.las3-breadcrums a.gods {
    margin: 5px;
    white-space: nowrap;
    background-color: #bbbbbb;
    border-radius:5px;
    padding:5px;
}
.las3-breadcrums a:link    { color: black; }
.las3-breadcrums a:visited { color: black; }
.las3-breadcrums a:hover   { background-color: #B2E681; }
.las3-content {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80%;
    top: 0;
}
.las3-content .member-welcome {
    background-color: #B2E681;
    border-radius: 10px;
    padding: 5px;
    top: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.las3-content .columns {
}
.columns .middle {
    position: relative;
    width: 100%;        /* rest from .columns */
    float: left;
}
.columns .left {
    background-color: #B6D1EE;
    border-radius: 10px;
    padding: 5px;
    top: 5px;
    margin: 2px;
    position: relative;
    width: 32%;  /* little less than multiple of rest from .columns */
    right: 0;
    float: left;
}
.columns .right {
    background-color: #B6D1EE;
    border-radius: 10px;
    padding: 5px; 
    top: 5px;
    position: relative;
    width: 450%;  /* multiple of rest from .columns */
    left: 100%;
    float: left;
}
.columns .clear {
    clear: both;
}
.las3-content .gods {
    border-radius: 10px;
    top-margin: 5px;
    bottom-margin: 5px;
    padding: 5px;
    background-color: #bbbbbb;
    width: 100%;
}
