{% extends "base.html" %}

{% block title %}
    <h1>Info</h1>
{% endblock %}

{% block content %}
    <h1>Ein- und Ausloggen</h1>

    <p>Wenn bei einer Seite bei uns auf dem rfhete470.hs-regensburg.de ein "Ausloggen" - Knopf vorhanden ist, sollte man ihn klicken. Manche Seiten bei uns haben keinen Ausloggen-Knopf. Hier geschieht das ausloggen über das schließen des Browser-Fensters.</p>

    <p>In manchen Browsern kannst du aktive logins löschen (Strg+Umsch+Entf in Firefox). An nicht vertrauenswürdigen Rechnern kannst du eine "private session" benutzen (Strg+Umsch+p in Firefox, Strg+Umsch+n in Chrome).</p>

    <h1>Freigaben</h1>

    <p>Jeder hat automatisch vollen Zugriff auf alle Freigaben (Shares) eines Projekts, sobald man Mitglied in einem Projekt ist</p>

    <p>Repos mit mit eingeschränkten Zugriff innerhalb eines Projekts möchten wir nicht fördern. Das hat etwas von minderwertigen Projektmitgliedern. Ferner sind schreibende Zugriffe für jedermann nachvollziehbar über die Changelogs. Eingeschränkte Zugriffe würden sich lösen lassen, in dem man ein zweites Projekt anlegt.</p>

    <p>Wir möchten an dieser Stelle alle Benutzer dazu ermuntern, eigene Repositories für die alleinige Nutzung anzulegen, sofern diese der Lehre oder Forschung dienen. D.h. wenn jemand was <a href="http://de.wikipedia.org/wiki/Hacker#Abgrenzung_zum_Begriff_.E2.80.9ACracker.E2.80.99">hacken</a> möchte und sich kein privates github oder ähnliches leisten möchte.</p>

    <h1>Gruppen und Projekte</h1>
    <p>Gruppen und Projekte sind zwei unabhängige Kategorien. Man kann z.B. E-Mail - Adressen gemeinsamer Projektmitglieder sehen, nicht aber in gleichen Gruppen.</p>
    <p>Innerhalb von Gruppen (z.B. Tasks) kann man den Namenskürzel (Login) anderer sehen, wenn man Aufgaben erstellt.</p>

    <h1>Privatsphäre Datenschutz und -sicherheit</h1>

    <p>Wir achten eure Privatsphäre. Es gibt vier Leute mit Vollzugriff auf das System: Jürgen Mottok, Jasmin Klügl und Admins (Michael Niemetz und Simeon Felis).</p>
    <p>In diesem System speichern wir nicht mehr von euch als auf eurer Profilseite zu sehen ist.</p>

    <h2>Projekte, Shares und E-Mail - Adressen</h2>
    <p>Man kann über gemeinsame Projekte Namen und E-Mail-Adressen der Projektmitglieder sehen, wenn die Option "Pub Mem" aktiviert ist.</p>
    <p>Ist in einem Projekt die Option "Pub Mem" deaktiviert, können sich Projektmitglieder untereinander nicht sehen.</p>
    <p>Freigaben der Projekte bleiben in jedem Fall anderen Nutzern (also nicht-Projekt-Teilnehmern) verborgen.</p>

    <h2>Passwörter</h2>
    <p>Wir speichern keine Passwörter in Klartext. Auch achten wir darauf dass kein Passwörter in log-Dateien bloßgestellt werden.</p>
    <h3>Passwort ändern</h3>
    <p>Im Nutzerprofil kann man ein neues Passwort setzen. Wenn man sich nicht mehr einloggen kann, kann man sein Passwort neu setzen und es sich zuschicken lassen. Dieser link wird bei der Anmeldemaske der <a href="{% url home %}">Startseite</a> angeboten. </p>

    <h2>Backups</h2>
    <p>Wir legen täglich Backups aller Projektdaten in einem anderen Gebäude der Hochschule ab. Diese sind per GPG verschlüsselt. Nur unsere Admins besitzen den Schlüssel zum entschlüsseln.<p>

    <h1>Alumni</h1>
    <p>Zugriffsrechte auf Freigaben laufen mit dem Datum in "Expires" im Benutzerprofil ab. Es sei denn:<p>
    <ul>
        <li>Ein Benutzer hat den Member Type "Alumni". Dann laufen die Zugriffsrechte auf Freigaben niemals ab und</li>
        <li>Ein Benutzer vom Member Type "Alumni" darf nach dem Datum in "Expires" auf Freigaben zugreifen, wenn im Projekt die Option "Allow Alumnis" aktiv ist.</li>
    </ul>
    <p>Ferner werden Benutzer vom Member Type "Alumni" nur dann als Projektmitglieder aufgeführt bzw. anwählbar, wenn die Option "Allow Alumnis" im Projekt aktiv ist.</p>

    <h1>Aufgabenverwaltung</h1>
    <p>Die Aufgabenverwaltung ist aktiv zu nutzen. Sie soll die Kommunikation der LaS3 - Mitglieder unterstützen. Sie benachrichtigt bei Änderungen, Zuweisungen zu Benutzern oder bei Kommentierung einer Aufgabe die entsprechenden Nutzer per E-Mail.<p>
    <p>Benutzer, die keine gültige FH - E-Mail Adresse besitzen bzw. angegeben haben, werden nicht benachrichtigt.</p>
    <p>Die Aufgabenverwaltung setzt Teile des <a href="http://en.wikipedia.org/wiki/Getting_Things_Done">GTD</a> - Prinzips um.</p>

{% endblock %}

