{% extends "base.html" %}

{% block page_heading %}LaS³ - Übersicht Benutzer{% endblock %}

{% block header %}

    {% include "header_javascript.html" %}

{% endblock %}

{% block title %}
    <h1>Übersicht aller Benutzer</h1>
{% endblock %}

{% block content %}

        <p><a class="button" href="{% url home %}useradd">Benutzer hinzufügen</a></p>

        <h3>Quicklinks</h3>

        <ul>
            <li><a href="#active">1. Aktive Benutzer</a></li>
            <li><a href="#alumni">2. Alumnis</a></li>
            <li><a href="#inactive">3. Inaktive</a></li>
        </ul>

        {% if members %}

        <h2><a name="active">1. Aktive Benutzer</a></h2>

        <table align="center" border="1" width="85%" class="ui-widget" >
            <thead>
            <tr class="ui-widget-header">
                <th width="16%">Nachname</th><th width="16%">Vorname</th><th width="10%">Username</th><th width="11%">Bis</th><th width="11%">Member type</th><th>Projekte</th><th width="20%">Freigaben</th>
            </tr>
            </thead>
            <tbody class="ui-widget-content">
                {% for member in members|dictsort:"user.last_name" %} {% if member.user.is_active and not member.member_type == "alumni" %}
                    {% include "member_tablerow.html" %}
                {% endif %}{# u.is_active #}
                {% endfor %}
            </tbody>
        </table>

        <h2><a name="alumni">2. Alumni</a></h2>
        <table align="center" border="1" width="85%" class="ui-widget" >
            <thead>
            <tr class="ui-widget-header">
                <th width="16%">Nachname</th><th width="16%">Vorname</th><th width="10%">Username</th><th width="11%">Bis</th><th width="11%">Member type</th><th>Projekte</th><th width="20%">Freigaben</th>
            </tr>
            </thead>
            <tbody class=ui-widget-content">
                {% for member in members|dictsort:"user.last_name" %}{% if member.member_type == "alumni" %}
                    {% include "member_tablerow.html" %}
                {% endif %}{% endfor %}
            </tbody>
        </table>



        <h2><a name="inactive">3. Inaktive Nutzer</a></h2>
        <table align="center" border="1" width="85%" >
            <tr>
                <th width="16%">Nachname</th><th width="16%">Vorname</th><th width="10%">Username</th><th width="11%">Bis</th><th width="11%">Member type</th><th>Projekte</th><th width="20%">Freigaben</th>
            </tr>
            <tbody class=ui-widget-content">
                {% for member in members %} {% if not member.user.is_active and not member.member_type == "alumni" %}
                    {% include "member_tablerow.html" %}
                {% endif %}{% endfor %}
            </tbody>
        </table>


        {% else %}
        <p>I cannot show you any users at the moment</p>
        <p>Maybe something went wrong</p>
        {% endif %}

{% endblock %}

