{% extends "base.html" %}

{% block title %}
<h1>Password reset</h1>
{% endblock %}


{% block content %}

{% if message %}
<p class="ui-state-highlight">{{ message }}</p>
{% endif %}

{% if form.errors %}
<p>You managed to enter false data in a single input field. Respect!</p>
{% endif %}


{% if not message %}
<p>Enter your username. If it exists, your password will be reset and sent to you by mail. Usernames are case sensitive.</p>

<form method="post" action="{% url password_reset %}">
{% csrf_token %}
<table>
    {{ form.as_table }}

    <tr>
        <td>
        </td>
        <td align="right">
            <input type="submit" value="Reset" />
        </td>
    </tr>
</table>

</form>
{% endif %}

{% endblock %}
