{% extends "base.html" %}

{% block page_heading %}LaS³ - Freigabe ändern{% endblock %}

{% block header %}

    {% include "header_javascript.html" %}

{% endblock %}

{% block title %}
    <h1>Freigabe {{ form.instance.name }}</h1>
{% endblock %}

{% block content %}

{% if error %}
<p class="ui-state-error">Folgende Angaben waren Fehlerhaft:<br />
{{ error }}
</p>
{% endif %}

{% if success %}
<p class="ui-state-highlight">Daten wurden übernommen.</p>
{% endif %}

{% if created %}
<p class="ui-state-highlight">Share wurde erstellt. Noch mal editieren?</p>
{% endif %}

<p>
    <a href="{% url home %}emails/share/active/{{ form.instance.pk }}">E-Mail-Liste der Beteiligten</a>
    {% if is_god %},
    <a href="{% url home %}emails/share/inactive/{{ form.instance.pk }}">der ehemals beteiligten (inaktiv)</a>, 
    <a href="{% url home %}emails/share/all/{{ form.instance.pk }}">aller jemals beteiligten (beides)</a>
    {% endif %}
</p>

<p>
    Dieser Share ist verfügbar unter: 

    {% if form.instance.share_type = "wik" %}

    <a href="https://{{ request.META.HTTP_HOST }}/{{ form.instance.name }}">https://{{ request.META.HTTP_HOST }}/{{ form.instance.name }}/</a></p>

    {% else %}

    <a href="https://{{ request.META.HTTP_HOST }}/{{ form.instance.share_type }}/{{ form.instance.name }}">https://{{ request.META.HTTP_HOST }}/{{ form.instance.share_type }}/{{ form.instance.name }}/</a>

    {% endif %}
</p>

{% if form.instance.share_type = "bzr" %}
<p>Bazaar clients haben manchmal Probleme mit unserem Zertifikat. Deswegen ist Bazaar auch unverschlüsselt per http erreichbar, nicht nur per https.<p>
<p>Ferner liegen die Bazaar Repos manchmal unter <tt>/trunk</tt>. Deshalb ist es manchmal erforderlich, <tt>/trunk</tt> an die URL anzufügen.</p>
{% endif %}

<p>Bei manchen VCS gibt es Probleme mit oder ohne dem abschließendem <tt>"/"</tt>. Deshalb mal mit und ohne versuchen, falls es Probleme gibt.</p>


<form action="{% url home %}sharemod/{{ form.instance.pk }}" method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    <tr>
        <td align="left"><a class="button" href="{% url home %}delete/share/{{ form.instance.pk }}">Delete</a></td>
        <td align="right"><input type="submit" value="Change"/></td>
    </tr>
    </table>
</form>
{% endblock %}

