{% extends "base.html" %}

{% block page_heading %}LaS³ - Freigabe hinzufügen{% endblock %}

{% block header %}

    {% include "header_javascript.html" %}

{% endblock %}

{% block title %}
    <h1>Freigabe erstellen</h1>
{% endblock %}

{% block content %}

{% if error %}
<p class="ui-corner-all">Folgende Angaben waren Fehlerhaft:
{{ error }}
</p>
{% endif %}

<form action="{% url home %}shareadd" method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Erstellen"/>
</form>
{% endblock %}
