<html>
    <head>
        {# <script src="{{ MEDIA_URL }}js/ui.datepicker.js" type="text/javascript"></script> #}
        <link type="text/css" href="{{ MEDIA_URL }}css/jquery-ui-1.8.19.custom.css" rel="Stylesheet" />

	    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.ui.all.css">
	    <link rel="stylesheet" href="{{ MEDIA_URL }}css/las3.css">
	    
	    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js"></script>
	    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.19.custom.min.js"></script>

        {% block header %}{% endblock %}

        {# Required for django-tod #}
        {% block extrahead %}{% endblock %}
    </head>
    <body>

        {% include "breadcrums.html" %}

        {% block content %}
        {% endblock %}

    </body>
</html>
