{% extends "base.html" %}

{% block header %}
{% include "header_javascript.html" %}
{% endblock %}

{% block content %}

{% if error %}
<p class="ui-state-error">Folgende Angaben waren Fehlerhaft:<br />
{{ error }}
</p>
{% endif %}

<div align="center" width="75%" class"ui-state-highlight" style="white-space: nowrap; font-size: 200%;">

    <p class="ui-state-highlight">Aber Hallo! <strong>{{ instance }}</strong> wirklich löschen?</p>

    <form action="{% url home %}{{ what }}/delete/{{ instance.pk }}" method="POST">
        {% csrf_token %}
        <table width="50%">
        <tr>
            <td align="left"><a class="button" href="{% url home %}{{ what }}/{{ instance.pk }}">Nö</a></td>
            <td align="right"><input type="submit" value="Klar! Lösche!"/></td>
        </tr>
        </table>
    </form>
</div>


{% endblock %}

