<html>
    <head>
        <title>LaS³ Django Admin Interface</title>
    </head>
    <body>
        <h1 align="center">Hi. Check out various config generators by clicking and reading.</h1>

        <h2>Edit data</h2>
        <p>Want to enter or change the data? Check out the <a href="{% url home %}admin">Admin Interface</a>.</p>
        <p>There is also a more straight forward method to add users to a project by clicking on projects in the <a href="{% url home %}overview/projects">project overview</a>.</p>

        <h2>Where to go from here</h2>

        <h3>Database overview</h3>


        <p>You can get an <a href="{% url home %}overview/projects">overview of projects</a>.</p>
        <p>You can get an <a href="{% url home %}overview/shares">overview of shares</a>.</p>
        <p>You can get an <a href="{% url home %}overview/users">overview of users</a>.</p>

        <h3>Email lists</h3>

        <p>Email lists for projects can retrieved in the <a href="{% url home %}overview/projects">project overview</a>.</p>
        <p>
            Other email lists are:
            <ul>
                <li>All <a href="{% url home %}emails/all/active/0">active users</a></li>
                <li>All <a href="{% url home %}emails/all/expired/0">expired users</a></li>
                <li>All <a href="{% url home %}emails/all/all/0">users</a></li>
                <li>Active users filtered by <a href="{% url home %}emails/member_type_extern/active/0">Extern users</a></li>
                <li>Active users filtered by <a href="{% url home %}emails/member_type_phd/active/0">PhD students</a></li>
                <li>Active users filtered by <a href="{% url home %}emails/member_type_bachelor/active/0">Bachelor students</a></li>
                <li>Active users filtered by <a href="{% url home %}emails/member_type_master/active/0">Master students</a></li>
                <li>Active users filtered by <a href="{% url home %}emails/member_type_prof/active/0">Professors</a></li>
                <li>Active users filtered by <a href="{% url home %}emails/member_type_none/active/0">None of the above</a></li>
            </ul>
        </p>


        {% if configs %}
        <h3>Config information</h3>

        <p>Have a look at the generated <a href="{% url home %}groups.dav">apache group file</a> for our users</p>

        <p>Have a look at the generated config files for out shares</p>

        <ul>
        {% for c in configs %}
            <li><a href="{% url home %}config/{{ c }}">Config for {{ c }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <p>No configs available</p>
        {% endif %}


    </body>
</html>
