{% extends "base.html" %}

{% block header %}
        <title>LaS³ Projects, Shares and Users - Start</title>
{% endblock %}


{% block content %}
    <h1 align="center">LaS³ Projects, Shares and Users - Start</h1>
    <h1>Hi. Check out project data, user data and various config generators by clicking and reading.</h1>

    <h1>Django-todo</h1>

    <p>This is a task management-application</p>

    <a href="{% url todo-lists %}">To-do Lists</a>
    <a href="{% url todo-mine %}">My Tasks</a>

    <h2>Edit data</h2>
    <p style='color:red;'>Want to change the database directly? If you know what you are doing login into the <a href="{% url home %}admin">Admin Interface</a> first.</p>
    <p>Please edit shares, projects, member/users only at the links below. No login to django is required.</p>

    <h2>Where to go from here</h2>

    <h3>Database overview</h3>


    <p>You can get an <a href="{% url home %}overview/projects">overview of projects</a> or <a href="{% url home %}projectadd">add a project</a>.</p>
    <p>You can get an <a href="{% url home %}overview/shares">overview of shares</a> or <a href="{% url home %}shareadd">add a share</a>.</p>
    <p>You can get an <a href="{% url home %}overview/users">overview of users</a> or <a href="{% url home %}useradd">add a user</a>.</p>

    <h3>Email lists</h3>

    <p>Email lists for projects can retrieved in the <a href="{% url home %}overview/projects">project overview</a>. To view email addresses, a login is required.</p>
    <p>
        Other email lists are:
        <ul>
            <li>All <a href="{% url home %}emails/all/active/0">active users</a></li>
            <li>All <a href="{% url home %}emails/all/expired/0">expired users</a></li>
            <li>All <a href="{% url home %}emails/all/all/0">users</a></li>
            <li>Active users filtered by <a href="{% url home %}emails/member_type_extern/active/0">Extern users</a></li>
            <li>Active users filtered by <a href="{% url home %}emails/member_type_phd/active/0">PhD students</a></li>
            <li>Active users filtered by <a href="{% url home %}emails/member_type_bachelor/active/0">Bachelor students</a></li>
            <li>Active users filtered by <a href="{% url home %}emails/member_type_master/active/0">Master students</a></li>
            <li>Active users filtered by <a href="{% url home %}emails/member_type_prof/active/0">Professors</a></li>
            <li>Active users filtered by <a href="{% url home %}emails/member_type_none/active/0">None of the above</a></li>
            <li>Active users filtered by <a href="{% url home %}emails/share_type_svn/active/0">SVN users</a></li>
            <li>Active users filtered by <a href="{% url home %}emails/share_type_bzr/active/0">Bazaar users</a></li>
            <li>Active users filtered by <a href="{% url home %}emails/share_type_git/active/0">Git users</a></li>
            <li>Active users filtered by <a href="{% url home %}emails/share_type_dav/active/0">Webdav users</a></li>
        </ul>
    </p>


    {% if configs %}
    <h3>Config information</h3>

    <p>Have a look at the generated <a href="{% url home %}groups.dav">apache group file</a> for our users.</p>

    <p>Have a look at the generated config files for out shares.</p>

    <ul>
    {% for c in configs %}
        <li><a href="{% url home %}config/{{ c }}">Config for {{ c }}</a></li>
    {% endfor %}
    </ul>
    <p>If you think the config files are OK, you can <a href="{% url home %}write_configs/all">do the maintenance</a>. 
    This will write config files to the server and notify users about changes on their status.</p>

    {% else %}
    <p>No configs available</p>
    {% endif %}

{% endblock %}

    </body>
</html>
