{% extends "base.html" %}

{% block content %}
    <h1>Ein- und Ausloggen</h1>
    <p>Eingeloggt hast du dich ja schon. Das ausloggen geschieht über das schließen des Browser-Fensters. Es gibt kein ausloggen-Knopf.</p>
    <p>Es werden keine Cookies angelegt oder Session-Daten gespeichert. Unser Webserver (Apache) bestimmt die Gültigkeit deiner Session über die offene Netzwerkverbindung, die du gerade mit deinem Browser geöffnet hast.</p>
    <p>In manchen Browsern kannst du aktive logins löschen (Strg+Umsch+Entf in Firefox). An nicht vertrauenswürdigen Rechnern benutze eine private session, um sicher zu gehen (Strg+Umsch+p in Firefox, Strg+Umsch+n in Chrome).</p>

    <h1>Freigaben</h1>

    <p>Jeder hat automatisch vollen Zugriff auf alle Freigaben (Shares) eines Projekts, sobald man Mitglied in einem Projekt ist</p>

    <p>Repos mit mit eingeschränkten Zugriff innerhalb eines Projekts möchten wir nicht fördern. Das hat etwas von minderwertigen Projektmitgliedern. Ferner sind schreibende Zugriffe für jedermann nachvollziehbar über die Changelogs. Eingeschränkte Zugriffe würden sich lösen lassen, in dem man ein zweites Projekt anlegt.</p>

    <p>Wir möchten an dieser Stelle alle Benutzer dazu ermuntern, eigene Repositories für die alleinige Nutzung anzulegen, sofern diese der Lehre oder Forschung genutzt werden. D.h. wenn jemand was <a href="http://de.wikipedia.org/wiki/Hacker#Abgrenzung_zum_Begriff_.E2.80.9ACracker.E2.80.99">hacken</a> möchte und sich kein privates github oder ähnliches leisten möchte.</p>


    <h1>Gruppen und Projekte</h1>
    <p>Gruppen und Projekte sind zwei unabhängige Kategorien. Man kann in E-Mail - Adressen gemeinsamer Projektmitglieder sehen, nicht aber in gleichen Gruppen.</p>

    <h1>Privatsphäre und Datenschutz</h1>

    <p>Wir achten eure Privatsphäre. Es gibt vier Leute mit Vollzugriff auf das System: Jürgen Mottok, die Teamassistenz und Admins (Michael Niemetz und Simeon Felis).</p>
    <p>Wir speichern von euch nicht mehr als auf eurer Profilseite zu sehen ist.</p>

    <h2>Projekte, Shares und E-Mail - Adressen</h2>
    <p>Man kann nur über gemeinsame Projekte Namen und E-Mail-Adressen anderer Benutzer dieses Systems einsehen. Auch Shares anderer Projekte bleiben verborgen.</p>

    <h2>Passwörter</h2>
    <p>Wir speichern keine Passwörter in Klartext. Auch achten wir darauf dass kein Passwörter in log-Dateien bloßgestellt werden.</p>

    <h1>Aufgabenverwaltung</h1>
    <p>Die Aufgabenverwaltung ist aktiv zu nutzen. Sie soll die Kommunikation der LaS3 - Mitglieder unterstützen. Sie benachrichtigt bei Änderungen, Zuweisungen zu Benutzern oder kommentierung einer Aufgabe die entsprechenden Nutzer per E-Mail.<p>

{% endblock %}

