{% extends "base.html" %}

{% block header %}

    {% include "header_javascript.html" %}

{% endblock %}


{% block content %}

{% if message %}
<p class="ui-state-highlight">{{ message }}</p>
{% endif %}

{% if email_problem %}
<p class="ui-state-highlight">E-Mails wurden anscheinend nicht versendet.</p>
{% endif %}


{% if error %}
<p class="ui-state-error">{{ error }}</p>
{% endif %}

<p>Neue aktivierte Mitglieder:</p>
<ul>
    {% for m in enabled_members %}
        <li><a href="{% url home %}usermod/{{ m.user.pk }}">{{ m.user.first_name }} {{ m.user.last_name }}</a> (dabei vom {{ m.begins }} bis {{ m.expires }})</li>
    {% empty %}
        <p>Keine</p>
    {% endfor %}
</ul>

<p>Deaktiviert Mitglieder:</p>
<ul>
    {% for m in disabled_members %}
        <li><a href="{% url home %}usermod/{{ m.user.pk }}">{{ m.user.first_name }} {{ m.user.last_name }}</a> (dabei vom {{ m.begins }} bis {{ m.expires }})</li>
    {% empty %}
        <p>Keine</p>
    {% endfor %}
</ul>

{% endblock %}



