{% extends "base.html" %}

{% block header %}

    {% include "header_javascript.html" %}

{% endblock %}


{% block content %}


        <h1>Benutzer Übersicht</h1>

        <p>Du kannst auch <a class="button" href="{% url home %}useradd">Benutzer hinzufügen</a>.</p>

        {% if users %}

        <h2>Aktive Benutzer</h2>

        <table align="center" border="1" width="75%" class="ui-widget" >
            <thead>
            <tr class="ui-widget-header">
                <th>Nachname</th><th>Vorname</th><th>Username</th><th>Member type</th><th>Projekte</th><th>Freigaben</th>
            </tr>
            </thead>
            <tbody class=ui-widget-content">
            {% for u in users|dictsort:"last_name" %} {% if u.is_active %}
            <tr>
                <td><a href="{% url home %}usermod/{{ u.pk }}">{{ u.last_name }}</a></td>
                <td><a href="{% url home %}usermod/{{ u.pk }}">{{ u.first_name }}</a></td>
                <td><a href="{% url home %}usermod/{{ u.pk }}">{{ u.username }}</a></td>
                <td>{{ u.member_set.all.0.get_member_type_display }}</td>
                <td>{% for project in u.member_set.all.0.projects.all %}
                    <a href="{% url home %}projectmod/{{ project.pk }}">{{ project.name }}</a><br />
                    {% endfor %}
                </td>
                <td>{% for project in u.member_set.all.0.projects.all %} {% for share in project.shares.all %}
                    <a href="{% url home %}sharemod/{{ share.pk }}">{{ share }}</a> <br />
                    {% endfor %} {% endfor %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>


        <h2>Inaktive Nutzer</h2>
        <table align="center" border="1" width="75%" >
            <tr>
                <th>Last name</th><th>First Name</th><th>Username</th><th>Member type</th><th>Projects</th><th>Shares</th>
            </tr>
            {% for u in users %} {% if not u.is_active %}
            <tr>
                <td><a href="{% url home %}usermod/{{ u.pk }}">{{ u.last_name }}</a></td>
                <td><a href="{% url home %}usermod/{{ u.pk }}">{{ u.first_name }}</a></td>
                <td><a href="{% url home %}usermod/{{ u.pk }}">{{ u.username }}</a></td>
                <td>{{ u.member_set.all.0.get_member_type_display }}</td>
                <td>{% for project in u.member_set.all.0.projects.all %}
                    <a href="{% url home %}projectmod/{{ project.pk }}">{{ project.name }}</a><br />
                    {% endfor %}
                </td>
                <td>{% for project in u.member_set.all.0.projects.all %} {% for share in project.shares.all %}
                    <a href="{% url home %}sharemod/{{ share.pk }}">{{ share }}</a> <br />
                    {% endfor %} {% endfor %}
                </td>
            </tr>
            {% endif %} {% endfor %}
        </table>


        {% else %}
        <p>I cannot show you any users at the moment</p>
        <p>Maybe something went wrong</p>
        {% endif %}
        
{% endblock %}

