<html>
    <head>
    </head>
    <body>
        <h1>Add shares</h2>

        <p>You can add shares in <a href="{% url home %}admin/persondb/share/add/">Django's admin interface</a>.</p>

        <h1>List of all shares</h1>
        {% if shares %}
        <table align="center" border="1" width="75%">
            <tr>
                <th>Name</th><th>Type</th><th>Related Project</th><th>Persons</th>
            </tr>
            {% for s in shares %}
            <tr>
                <td><a href="{% url home %}sharemod/{{ s.share.pk }}">{{ s.share.name }}</a></td>
                <td>{{ s.share.share_type }}</td>
                <td><a href="{% url home %}projectmod/{{ s.project.pk }}">{{ s.project.name }}</a></td>
                <td>{% for m in s.members %}<a href="{% url home %}usermod/{{ m.user.pk }}">{{ m.user.last_name }} {{ m.user.first_name }}</a><br />{% endfor %}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>I cannot show you any share information at the moment</p>
        <p>Maybe something went wrong</p>
        {% endif %} {# shares #}
    </body>
</html>


