{% extends "base.html" %}

{% block header %}

    {% include "header_javascript.html" %}

{% endblock %}


{% block content %}

        <h1>Gruppen Übersicht</h1>

        {% if groups %} 
        <ul>
        {% for g in groups %}
            <li>{{ g.group }}</li>
            <ul>
                {% for m in g.members %}
                <li><a href="{% url home %}usermod/{{ m.user.pk }}">{{ m.user.get_full_name }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
        </ul>


        {% else %}
        <p>I cannot show you any groups at the moment</p>
        <p>Maybe something went wrong</p>
        {% endif %}
        
{% endblock %}

