<html>
    <head>
        <title>LaS³ Django Admin Interface - Overview Projects</title>
    </head>
    <body>

        <h1>Add projects</h2>

        <p>You can add projects in <a href="{% url home %}admin/persondb/project/add/">Django's admin interface</a>.</p>

        <h2>List of all projects</h2>

        {% if projects %}
        <table align="center" border="1" width="75%">
            <tr>
                <th>Project</th><th width="">Description</th><th>Shares</th><th>Users</th>
            </tr>
            {% for project in projects %}
            <tr>
                <td><a href="{% url home %}projectmod/{{ project.project.pk }}">{{ project.project.name }}</a></td>
                <td>{{ project.project.description }}</td>
                <td> {% for share in project.project.shares.all %}
                    <a href="{% url home %}sharemod/{{ share.pk }}">{{ share }}</a><br />
                    {% endfor %}
                </td>
                <td> {% if project.persons|length_is:"0" %}
                    No user is part of this project
                    {% else %} {% for user in project.persons %}
                    <a href="{% url home %}usermod/{{ user.pk }}">{{ user }}</a> <br />
                    {% endfor %} {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>I cannot show you any project information at the moment</p>
        <p>Maybe something went wrong</p>
        {% endif %} {# projects #}


    </body>
</html>
