<html>
    <head>
    </head>
    <body>
        <h1>User information</h1>
        {% if persons %}
        <h2>Active Users</h2>
        <ul>
        {% for p in persons %}
        {% if not p.is_expired %}
            <li>
                <b>{{ p.firstName }} {{ p.lastName }}</b> is involved in following projects:
                <ul>
                {{ p.projects.all|unordered_list }}
                </ul>
                <br />
                <b>{{ p.firstName }} {{ p.lastName }}</b> has access to the following shares:
                <ul>
                {% for project in p.projects.all %}
                {{ project.shares.all|unordered_list }}
                {% endfor %}
                </ul>
            </li>
        {% endif %} {# not p.is_expired #}
        {% endfor %}
        </ul>

        <h2>Expired Users</h2>
        <ul>
        {% for p in persons %}
        {% if p.is_expired %}
            <li>
                <b>{{ p.firstName }} {{ p.lastName }} </b> was involved in following projects:
                <ul>
                {{ p.projects.all|unordered_list }}
                </ul>
                <br />
                <b>{{ p.firstName }} {{ p.lastName }}</b> had access to the following shares:
                <ul>
                {% for project in p.projects.all %}
                {{ project.shares.all|unordered_list }}
                {% endfor %}
                </ul>
            </li>
        {% endif %} {# p.is_expired #}
        {% endfor %}
        </ul>

        {% else %}
        <p>I cannot show you any users at the moment</p>
        <p>Maybe something went wrong</p>
        {% endif %}
        
        <h1>Project Infomation</h1>
        {% if projects %}
        <ul>
            {% for project in projects %}
            <li>
                {% if project.project.shares.all|length_is:"0" %}
                <b>
                    <a href='projectmod/{{ project.project.pk }}'>{{ project.project.name }}</a>
                </b> has no shares<br />
                {% else %}
                <b>
                    <a href='projectmod/{{ project.project.pk }}'>{{ project.project.name }}</a>
                </b> has following shares:
                <ul>
                    {{ project.project.shares.all|unordered_list }}
                </ul>
                {% endif %}

                {% if project.persons|length_is:"0" %}
                No user is part of this project
                {% else %}
                Following users are part of this project:
                <ul>
                    {{ project.persons|unordered_list }}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>I cannot show you any project information at the moment</p>
        <p>Maybe something went wrong</p>
        {% endif %} {# projects #}

        <h1>Share Information</h1>
        {% if shares %}
        <ul>
            {% for share in shares %}
            <li>
            <b>{{ share.share.name }}</b> is from type <b>{{ share.share.share_type }}</b> and belongs to Project <b>{{ share.project.name }}</b> and has the following users:
                <ul>
                    {{ share.users|unordered_list }}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>I cannot show you any share information at the moment</p>
        <p>Maybe something went wrong</p>
        {% endif %} {# shares #}
    </body>
</html>


