<html>
    <head>
    </head>
    <body>
        <h1>Add shares</h2>

        <p>You can add shares in <a href="{% url home %}admin/persondb/share/add/">Django's admin interface</a>.</p>

        <h1>List of all shares</h1>
        {% if shares %}
        <table align="center" border="1" width="75%">
            <tr>
                <th>Name</th><th>Type</th><th>Related Project</th><th>Persons</th>
            </tr>
            {% for share in shares %}
            <tr>
                <td><a href="{% url home %}sharemod/{{ share.share.pk }}">{{ share.share.name }}</a></td>
                <td>{{ share.share.share_type }}</td>
                <td><a href="{% url home %}projectmod/{{ share.project.pk }}">{{ share.project.name }}</a></td>
                <td>{% for u in share.users %}<a href="{% url home %}usermod/{{ u.pk }}">{{ u }}</a><br />{% endfor %}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>I cannot show you any share information at the moment</p>
        <p>Maybe something went wrong</p>
        {% endif %} {# shares #}
    </body>
</html>


