<html>
    <head>
    </head>
    <body>
        <h1>User information</h1>

        {% if persons %}

        <h2>Active Users</h2>

        <table align="center" border="fine" width="75%" >
            <tr>
                <th>Last name</th><th>First Name</th><th>Projects</th><th>Shares</th>
            </tr>
            {% for p in persons %} {% if not p.is_expired %}
            <tr>
                <td><a href="{% url home %}usermod/{{ p.pk }}">{{ p.lastName }}</a></td>
                <td><a href="{% url home %}usermod/{{ p.pk }}">{{ p.firstName }}</a></td>
                <td>{% for project in p.projects.all %}
                    <a href="{% url home %}projectmod/{{ project.pk }}">{{ project.name }}</a><br />
                    {% endfor %}
                </td>
                <td>{% for project in p.projects.all %} {% for share in project.shares.all %}
                    {{ share }} <br />
                    {% endfor %} {% endfor %}
                </td>
            </tr>
            {% endif %} {% endfor %}
        </table>


        <h2>Expired Users</h2>
        <table align="center" border="fine" width="75%" >
            <tr>
                <th>Last name</th><th>First Name</th><th>Projects</th><th>Shares</th>
            </tr>
            {% for p in persons %} {% if p.is_expired %}
            <tr>
                <td><a href="{% url home %}usermod/{{ p.pk }}">{{ p.lastName }}</a></td>
                <td><a href="{% url home %}usermod/{{ p.pk }}">{{ p.firstName }}</a></td>
                <td>{% for project in p.projects.all %}
                    <a href="{% url home %}projectmod/{{ project.pk }}">{{ project.name }}</a><br />
                    {% endfor %}
                </td>
                <td>{% for project in p.projects.all %} {% for share in project.shares.all %}
                    {{ share }} <br />
                    {% endfor %} {% endfor %}
                </td>
            </tr>
            {% endif %} {% endfor %}
        </table>


        {% else %}
        <p>I cannot show you any users at the moment</p>
        <p>Maybe something went wrong</p>
        {% endif %}
        
    </body>
</html>


