{% extends "base.html" %}

{% block header %}
<!-- CSS and JavaScript  -->

<script type="text/javascript" charset="utf-8">
    // thedate.x comes from the edit_task view. If this is a new entry, 
    // thedate won't be present and datepicker will fall back on the default (today).
    $(document).ready(function(){
        $( "input:submit, button, .button").button();
        $( ".date").datepicker({dateFormat: 'yy-mm-dd',});
            {% if thedate %}
        $('#id_due_date').datepicker({defaultDate: new Date({{thedate.year}}, {{thedate.month}} - 1, {{thedate.day}}), dateFormat: 'yy-mm-dd',});
            {% else %}
        $('#id_due_date').datepicker({defaultDate: new Date(2012, 04 - 1, 26), dateFormat: 'dd-mm-yy', });
            {% endif %}
     });

</script>
{% endblock %}

{% block content %}

{% if error %}
<p class="ui-state-error">Folgende Angaben waren Fehlerhaft:<br />
{{ error }}
</p>
{% endif %}

{% if success %}
<p class="ui-state-highlight">Daten wurden übernommen. Lüg ich oder was?!?  </p>
{% endif %}

{% if created %}
<p class="ui-state-highlight">Neues Projekt wurde angelegt. Mehr Informationen setzen?</p>
{% endif %}




<form action="{% url home %}projectmod/{{ form.instance.pk }}" method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    <tr>
        <td align="left">
            <a href="{% url home %}projectmod/delete/{{ form.instance.pk }}" class="button">Löschen</a>
        </td>
        <td align="right">
            <a class="button" href="{% url home %}projectadd">Neues Projekt</a>
            <input type="submit" value="Ändern"/>
        </td>
    </tr>
    </table>
</form>
{% endblock %}
