
<table align="center" border="1" width="80%">
    <thead>
        <tr>
            <th width="15%">Projekt</th><th>Beschreibung</th><th width="15%">Freigaben</th><th width="20%">Benutzer</th><th width="5%">Pub.Mem.</th><th width="5%">E-Mails</th>
        </tr>
    </thead>
    <tbody>
        {% for p in projects %}
        <tr>
            <td><a href="{% url home %}projectmod/{{ p.project.pk }}">{{ p.project.name }}</a></td>
            <td>{{ p.project.description }}</td>
            <td> 
                {% for share in p.project.shares.all %}
                <a style="white-space: nowrap;" href="{% url home %}sharemod/{{ share.pk }}">{{ share }}</a><br />
                {% endfor %}
            </td>
            <td> {% if p.members|length_is:"0" %}
                {% if p.project.pub_mem or is_god %}
                Kein Benutzer im Projekt. Huh?
                {% else %}
                Nicht einsehbar
                {% endif %}
                {% else %} {% for m in p.members %}
                <span style="white-space: nowrap;">{{ m.user.first_name }} {{ m.user.last_name }} (<a href="{% url home %}usermod/{{ m.user.pk }}">{{ m.user.username }}</a>) <span style="color: gray;">({{ m.get_member_type_display }})</span></span> <br />
                {% endfor %} {% endif %}
            </td>
            <td>
                {% if p.project.pub_mem %}Ja{% else %}Nein{% endif %}
            </td>
            <td>
                {% if p.project.pub_mem or is_god %}
                <a href="{% url home %}emails/project/active/{{ p.project.pk }}">Aktive</a><br />
                {% endif %}
                {% if is_god %}
                <a href="{% url home %}emails/project/expired/{{ p.project.pk }}">Inaktive</a><br />
                <a href="{% url home %}emails/project/all/{{ p.project.pk }}">Beides</a>
                {% endif %}
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
