<html>
    <head>
        <title>LaS³ projectmod</title>
    </head>
    <body>

        {% if message %}
        <p>Your last action told me:</p>
        <pre>message</pre>
        <p>I hope that is what you expected.</p>
        {% endif %}

        {% if project %}

        <h1>Get email lists for project {{ project.name }}</h1>

        <p>Email list for <a href="{% url home %}emails/project/all/{{ project.pk }}">all</a> users</p>
        <p>Email list for <a href="{% url home %}emails/project/active/{{ project.pk }}">active</a> users</p>
        <p>Email list for <a href="{% url home %}emails/project/expired/{{ project.pk }}">expired</a> users</p>


        <h1>Let's edit project {{ project.name }}</h1>

        <h2>Select users which belong to this project</h2>

        <form action="{% url home %}projectmod/{{ project.pk }}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th></th><th>Name</th><th>Fore Name</th><th>Member type</th>
            </tr>
            {% for user in users %}
            {% if not user.user.is_expired %}
            <tr>
                <td>
                    <input  type="checkbox" 
                            name="set_user" 
                            id="set_user_{{ forloop.counter }}" 
                            {% if user.is_member %}checked="checked"{% endif %} 
                            value="{{ user.user.pk }}" />
                    <label for="set_user_{{ forloop.counter }}"></label>
                </td>
                <td><a href="{% url home %}usermod/{{ user.user.pk }}">{{ user.user.lastName }}</a> </td>
                <td><a href="{% url home %}usermod/{{ user.user.pk }}">{{ user.user.firstName }}</a> </td>
                <td> {{ user.user.get_member_type_display }} </td>
            </tr>
            {% endif %}{# user.user.is_expired #}
            {% endfor %}
        </table>
        <input type="submit" value="Set users" />
        </form>

        {% else %}
        <p>No user to modify</p>
        {% endif %}

    </body>
</html>
