{% extends "base.html" %}

{% block header %}
<script type="text/javascript" charset="utf-8">
    // thedate.x comes from the edit_task view. If this is a new entry, 
    // thedate won't be present and datepicker will fall back on the default (today).
    $(document).ready(function(){
        $( "input:submit, button, .button").button();
        $( ".date").datepicker({dateFormat: 'yy-mm-dd',});
            {% if thedate %}
        $('#id_due_date').datepicker({defaultDate: new Date({{thedate.year}}, {{thedate.month}} - 1, {{thedate.day}}), dateFormat: 'yy-mm-dd',});
            {% else %}
        $('#id_due_date').datepicker({defaultDate: new Date(2012, 04 - 1, 26), dateFormat: 'dd-mm-yy', });
            {% endif %}
     });

</script>
{% endblock %}

{% block content %}

{% if error %}
<p class="ui-state-error">Folgende Angaben waren Fehlerhaft:
{{ error }}
</p>
{% endif %}

<form action="{% url home %}projectadd" method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Add"/>
</form>
{% endblock %}
