{% extends "base.html" %}

{% block header %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $( "input:submit, button, .button").button();
        $( ".date").datepicker({dateFormat: 'yy-mm-dd',});
     });

</script>
{% endblock %}

{% block content %}

{% if error %}
<p class="ui-corner-all">Folgende Angaben waren Fehlerhaft:
{{ error }}
</p>
{% endif %}

<form action="{% url home %}shareadd" method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Erstellen"/>
</form>
{% endblock %}
