<tr>
    <td><a href="{% url home %}usermod/{{ u.pk }}">{{ u.last_name }}</a></td>
    <td><a href="{% url home %}usermod/{{ u.pk }}">{{ u.first_name }}</a></td>
    <td><a href="{% url home %}usermod/{{ u.pk }}">{{ u.username }}</a></td>
    <td>{{ u.member_set.all.0.expires }}</td>
    <td>{{ u.member_set.all.0.get_member_type_display }}</td>
    <td>{% for project in u.member_set.all.0.projects.all %}
        <a href="{% url home %}projectmod/{{ project.pk }}">{{ project.name }}</a><br />
        {% endfor %}
    </td>
    <td>{% for project in u.member_set.all.0.projects.all %} {% for share in project.shares.all %}
        <a href="{% url home %}sharemod/{{ share.pk }}">{{ share }}</a> <br />
        {% endfor %} {% endfor %}
    </td>
</tr>
