{% extends "base.html" %}

{% block header %}
<script type="text/javascript" charset="utf-8">
    // thedate.x comes from the edit_task view. If this is a new entry, 
    // thedate won't be present and datepicker will fall back on the default (today).
    $(document).ready(function(){
        $( "input:submit, button, .button").button();
        $( ".date").datepicker({dateFormat: 'yy-mm-dd',});
     });

</script>
{% endblock %}


{% block content %}

{% if error %}
<p class="ui-state-error">Folgende Angaben waren Fehlerhaft:<br />
{{ error }}
</p>
{% endif %}

{% if success %}
<p class="ui-state-highlight">Daten wurden übernommen. Lüg ich oder was?!?  </p>
{% endif %}

{% if created %}
<p class="ui-state-highlight">Benutzer erstellt. Hier mehr infos angeben?</p>
{% endif %}


<form action="{% url home %}usermod/{{ form.instance.pk }}" method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}

    {% if is_god %}
    <tr>
        <th>Gruppen</th>
        <td>
            {% for g in groups %}
            <li>
                <label for="{{ forloop.counter0 }}">
                    <input {% if g.is_member %}checked="checked"{% endif %} 
                        type="checkbox" 
                        name="groups" 
                        value="{{ g.group.pk }}" 
                        id="id_group_{{ forloop.counter0 }}" /> 
                    {{ g.group }}
                </label>
            </li>
            {% endfor %}
        </td>
    </tr>
    {% endif %}{# is_god #}
    <tr>
        <td align="left">
            <a class="button" href="{% url home %}usermod/delete/{{ form.instance.pk }}">Löschen</a>
        </td>
        <td align="right">
            <a class="button" href="{% url home %}useradd">Neuer Benutzer</a>
            <input type="submit" value="Ändern"/>
        </td>
    </tr>
    </table>
</form>
{% endblock %}
